body{
    color: white
    ;
    background-color: black;
    font-family: monospace;
    
    
}
h1{
    background-color: black;

    color:blueviolet;
    font-family: monospace;
    
    font-weight: 900;
    text-align: center;
    font-size: 100px;
    
}
.vids{
    width: 100%
    


    
}

    




